/* styles for the HTML elements on the team lead home page */

html {
	background-color: rgb(217, 57, 42);
}

body {
	width: auto;
}

/* changing the anchor tags to automatically display in all uppercase*/
a {
	text-transform: uppercase;
	font-size: 14px;
}

/* formatting the navigation bar along with the sub navigation bar*/
.navbar {
	background: #333;
}

.navbar:after {
	content: '';
	clear: both;
	display: block;
}

.navbar ul {
	list-style: none;
	margin: 0;
}

.navbar > ul > li {
	float: left;
	position: relative;
}

.navbar ul li a {
	text-decoration: none;
	color: white;
	padding: 10px 10px;
	display: block;
}

.navbar ul li:hover a {
	background: #ad0000;
}

.navbar ul ul {
	position: absolute;
	padding: 0;
	min-width: 180px;
	display: none;
	top: 100%;
	left: 0;
}

.navbar ul li:hover > ul {
	display: block;
}

.navbar ul ul li:hover a {
	background: #C0C0C0;
}

.navbar ul ul li {
	position: relative;
}

.logout {
	float: right;
}

.lougout2 ul li:hover a {
	background: #ad0000;
}

.logout2 a {
	text-decoration: none;
	color: white;
	margin: 0;
}

/* formatting the picture display as part of a display banner at the top of the page*/
.header {
	background-color: #919191;	
	max-width: 100%
}

.header2 {
	background-color: black;
	height: auto;
	max-width: 100%
}

.img {
	max-width: 100%;
	border-radius: 6px;
	height: auto;
	float: left;
}

.greeting {
	float: right;
}
h2 {
	color: white;
	font-size: 38px;
	font-weight: bold;
}
h3 {
	color: white;
	font-size: 18px;
}
h4 {
 color: black;
	font-size: 18px;
}
	
main {
	padding: 10px;
}

.side1 {
	float: left;
	border-radius: 50px;
	color: white;
    margin: 0;
    width: 20%; 
	height: 450px;
	background-color:white; 
	margin-top: 1%;
	margin-left: 1%;
}

div.side2 {
	float: left;
	border-radius: 50px;
	color: white;
    margin-left: 15%;
    width:20%; 
	height: 450px;
	text-align:left;
	background-color:white; 
	margin-top: 1%;
}

.panel {
	float: left;
	width: 4%;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: black;
	color: white;
	text-align: center;
	font-size: 11px;
}

.entryForm {
	padding: 12px;
	text-align: right;
	background: #333;
	color: white;
}

.pdForm {
	padding: 8px;
	text-align: center;
	background: #333;
	width: 325px;
	margin-left: 40%;	
	color: white;
}

h5 {
	color: red;
	font-size: 8px;
}

/************below this added 2-5 *************/


fieldset {     /* This gets rid of the weird border around it*/
    border: 0;
	
	padding-bottom: 15px;
}
input[class=std_button]{ /* all buttons of this 'class' */
/* enlarges button*/
   
	padding: 10px 17px 10px 17px;
	margin-top : 45px;
	margin-right : 35px;
	text-align: center; /* centers text */
	/* adjust button size for text size */
	
}

dinput {
    width: 100px;
    margin: 13px;
	font-weight: bold;
	font-size: 10pt;
    border: 1px solid;
	
}
label {
	font-weight: bold;
	font-size: 12pt;
}
/* h2 is changed above for this file FYI */ 

input[class=create_project]{   /*use [name=create_project] for specific inputs - all one css file  */ 
	width: 20%;
	background-color: #d4d4d4;
	font-weight: bold;
}
textarea  
{  
   font-family:"Arial";  
   font-size: 14px; 
   background-color: #d4d4d4;
   width: 20%;
}
select[name=account_id]{
   font-family:"Arial";  
   font-size: 14px; 
   background-color: #d4d4d4;
   width: 20%;
	

}


